/*
* Mate - Bootstrap 4 Template
* Build Date: December 2017
* Last updated: December 2017
* Version: 1.0
* Author: UIdeck
* Copyright (C) 2018 UIdeck
*/
/* ------------------------------------- */
/* TABLE OF CONTENTS
/* -------------------------------------
  1. IMPORT GOOGLE FONTS
  2. GENERAL
    -2.1 SECTION TITLE
    -2.2 BUTTONS
    -2.3 SOCIAL ICON
    -2.4 PRE LOADER
    -2.5 SCROLL TO UP
  3. HERO AREA 
  4. NAVBAR
  5. SERVICES SECTION
  6. FEATURES SECTION
  7. VIDEO PROMO SECTION
  8. PORTFOLIO SECTION
  9. PRICING TABLE 
  10. COUNTER SECTION
  11. TESTIMONIAL AREA
  12. TEAM SECTION
  13. BLOG SECTION
  14. CONTACT SECTION
  15. FOOTER SECTION
    -15.1 COMING SOON PAGE
  ------------------------------------- */
/* ==========================================================================
   1. IMPORT GOOGLE FONTS
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/* ==========================================================================
   2. GENERAL
   ========================================================================== */
body {
  font-family: 'Roboto', 'Poppins', sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 26px;
}

a:hover, a:focus {
  color: #61D2B4;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}*/
h1{
  font-family: 'Roboto', 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  color:#4d4d4d;
}
h2{
  font-family: 'Roboto', 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  color:#4d4d4d;
}

h3{
  font-family: 'Roboto', 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  color: #4d4d4d;
  line-height: 1.3;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #61D2B4;
}
p{
  color: #9c9c9c;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 1.6;
    font-size: 14px;
}
.text-primary{
  color:#007ddf !important;
}
/* ==========================================================================
   2.1 Section Title
   ========================================================================== */
.section {
  padding: 50px 0;
}

.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  position: relative;
}

.section-header .section-title span {
  color: #61D2B4;
}
.section-header h1{
  margin-bottom: 12px;
}
.section-header .section-subtitle {
  color: #9c9c9c;
  font-size: 21px;
  font-weight: 400;
}

.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #61D2B4;
  margin-top: 15px;
}

/* ==========================================================================
   2.2 Buttons
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 11px 10px;
  border-radius:4px;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  border: 1px solid #1c69ae;
  background: #1c69ae;
  position: relative;
  color: #fff;
  z-index: 1;
  border-radius: 30px;
}

.btn-common:hover {
  color: #fff;
  background: #1c69ae;
  border-color: #1c69ae;
  transition: all .50s ease-in-out;
  -moz-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
}

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
}

.btn-border:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #61D2B4;
}

.btn-lg {
  padding: 14px 33px;
  letter-spacing: 0.5px;
  font-size: 18px;
  border-radius: 4px;
}

.btn-rm {
  padding: 7px 0px;
  color: #999;
  text-transform: capitalize;
}

.btn-rm i {
  vertical-align: middle;
}

button:focus {
  outline: none !important;
}

.clear {
  clear: both;
}

.btn-success{
  background-color: #37b614;
}
.btn-contact{
  text-transform: none;
  background-color: transparent;
  border:1.5px solid;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 7px 15px;
  border-color:#d7f2fc;
  cursor: pointer;
  font-weight: 500;
  border-radius: 0px;
  opacity: 0.7 ;
}
.btn-contact:hover{
  opacity: 1;
  background-color:#d7f2fc;
  color:#1c69ae;
  box-shadow:0 3px 5px rgba(0,0,0,0.1);
}
.btn.btn-outline-secondary{
  border:2px solid #57c2cc;
  color:#57c2cc;
  background-color: transparent;
}
.btn.btn-outline-secondary:hover,
.btn.btn-outline-secondary:active{
  background-color: #57c2cc;
  color:#fff !important;
}
.btn.btn-primary{
  border:2px solid #1c69ae;
  color:#1c69ae;
  background-color: transparent;
}
.btn.btn-primary:hover,
.btn.btn-primary:active{
  background-color: #1c69ae;
  color:#fff !important;
}
.learn-more-btn{
  display: block;
    color: #39b716;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
}
/*.learn-more-btn i{
  font-size: 20px;
  font-weight: 500;
  margin-left: 4px;
}*/

/* ==========================================================================
	 2.4  Pre Loader
	 ========================================================================== */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d7f2fc;
  z-index: 9999999999;
}

.spinner {
  width: 350px;
  height: 4px;
  top: 45%;
  position: relative;
  margin: 0px auto;
}

.double-bounce1{
  width: 100%;
  height: 100%;
  background-color: #1c69ae;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 1s infinite ease-in-out;
  animation: sk-bounce 1s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce{
  0%{
    width: 0%;
  }
  20% {
    width:20%;
  }
  50% {
    width:50%;
  }
  70% {
    width:70%;
  }
  100% {
    width:350px;
  }

}

/* ========================================================================== 
  -2.5 Scroll To Up 
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
}

.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background-color: #61D2B4;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* ==========================================================================
    START
   ========================================================================== */
.top_info{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}
.top_info .btn-success{
  border-radius: 4px;
  text-transform: none;
  padding: 6px 17px;
  margin:0 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
}


/* ==========================================================================
   3. Hero Area
   ========================================================================== */
#hero-area {
  /*background: url(../img/hero-area.jpg) fixed no-repeat;*/
  /*background-size: cover;*/
  background-color: #115e9b;
  color: #fff;
  overflow: hidden;
  position: relative;
  max-height: 100vh
}

#hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  
  background: #4ea4e8;
  opacity: 0.3;
  z-index: 1;
}

#hero-area .contents {
  padding: 200px 0 130px;
}

#hero-area .contents h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 25px;
}

#hero-area .contents p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}

#hero-area .contents .btn {
  margin: 25px 25px 0px 0px;
  text-transform: uppercase;
}

#hero-area .banner_bottom_btn {
  margin-top: 40px;
}

#hero-area .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#hero-area .banner_bottom_btn i:hover {
  color: #61D2B4;
}
.carousel_holder{
  position: relative;
  z-index: 1;
}
#hero_carousel .carousel-indicators{
  bottom: 20px;
}
.carousel-indicators .active{
  background-color: #fff;
}
.carousel-indicators li{
  width: 12px;
  height: 12px;
    border:1.4px solid #fff;
  background-color: transparent;
  cursor:pointer;
  border-radius: 50%;
}
#hero_carousel .carousel-caption{
  top: 40%;
  /*left: 24px;*/
  /*color:#3a3838;*/
  /*text-align: left;*/
}
#hero_carousel .carousel-caption h1{
  font-size: 50px;
  font-weight: 500;
  text-shadow:0 3px 10px rgba(0,0,0,0.2);
}
/* ==========================================================================
   4. Navbar Style
   ========================================================================== */
.navbar{
 background: rgba(28, 105, 174, 0.7);
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-brand {
  position: relative;
  padding: 0px;
  height: 100%;
  max-height: 55px;
  display: block;
}
.navbar-brand img{
  height: 55px;
  width:auto;
  min-width: unset;
  max-width: unset;
}

.top-nav-collapse {
  position: fixed !important;
  z-index: 999999;
  top: 0px !important;
  padding: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background:rgba(28, 105, 174, 0.9);
  padding-top: 0px;
  padding-bottom: 0px;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #fff !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  letter-spacing: 0.5px;
  opacity: 0.9;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #4be820 ;
  opacity: 1;
}

.top-nav-collapse .navbar-nav .nav-link.active {
  color: #fff !important;
  opacity: 1;
  font-weight: bold;
}


.navbar.fixed-top{
  position: absolute;
}
.indigo {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  padding: 0 22px;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 40px;
  letter-spacing: 0.5px;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-item{
  position: relative;
}
.sub-menu{
  z-index: 20;
  overflow: hidden;
  position: absolute;
  bottom:0px;
  left:0px;
  width: 300px;
  background:rgba(28, 105, 174, 0.9);
  height: 0px;
  opacity: 0;
  transform:translateY(80%);
  -webkit-transform:translateY(80%);
  -moz-transform:translateY(80%);
  -o-transform:translateY(80%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.sub-menu a{
  display: block;
  padding:12px 13px;
  color:#fff;
  letter-spacing: 0.5px;
}
.sub-menu  li a.active,
.sub-menu li  a:hover{
  background-color: #218838 !important;
  color:#fff !important;
}
#main-navbar .navbar .nav-item:hover{
  background:rgba(28, 105, 174, 0.9);
}
.navbar .nav-item:hover .sub-menu{
  height: auto;
  opacity: 1;
  transform:translateY(100%);
  -webkt-transform:translateY(100%);
  -moz-transform:translateY(100%);
  -o-transform:translateY(100%);
}
.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #61D2B4;
  background-color: #1c69ae;
}

.navbar .nav-link.active {
  color: #fff !important;
  font-weight: bold;
  /*background: #61D2B4;*/
}

.dropdown-toggle::after {
  display: none;
}

.slicknav_btn {
  border-color: #61D2B4;
}

.slicknav_menu .slicknav_icon-bar {
  background: #61D2B4;
}

.awards {
  max-width: 150px;
  height: auto;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 70%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #61D2B4;
    color: #fff;
  }
 /* .slicknav_nav a:hover, .slicknav_nav .active {
    color: #61D2B4;
    background: #f8f9fa;
  }*/
  .slicknav_nav .dropdown li a.active {
    background: #f8f9fa;
    color: #61D2B4;
  }
}

/* ==========================================================================
  Section: Industry Clients
   ========================================================================== */

#sec_clients{
  background-color: #ededed;
}
#sec_clients p {
  line-height: 1.6;
  opacity: 0.9;
  padding-bottom: 20px;
  padding-top: 20px;
  color:#404040;
  letter-spacing: 0.5px;
}
.sec_clients_qql{
  display: block;
  height: 100%;
  width: 70px;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 48px;
  background-image: url(../../images/quote-img-gray.png);
}
.sec_clients_qqr{
  display: block;
  height: 100%;
  width: 70px;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 48px;
  background-image: url(../../images/quote-img-gray.png);
  transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -o-transform:scaleX(-1);
}


/* ==========================================================================
   Section: Services
   ========================================================================== */

.pages {
  color: #4d4d4d;
}
.service-card{
  border:2px solid #eee;
  background-color: #fff;
  text-align: left;
  display: block;
  margin-bottom: 30px;
  min-height: 347px;
}
.service-card .service-card-content{
  padding: 50px 26px;
}
.service-card.service-card-sm{
  margin-top: 20px;
}
.service-card.service-card-sm .service-card-content{
  padding:  30px 26px;
}

.service-card:hover{
  border-color:#1c69ae;
  box-shadow:0 3px 30px rgba(0,0,0,0.2);
  margin-top: 10px!important;
}

/*.service-card:hover .service-card-img{
  height:240px;
}
*/
.service-card-img{
  height:220px;
  position: relative;
  overflow: hidden;
}
.service-card-img img{
  position: absolute;
  min-height: 100%;
}
.service-card-content h2{
  font-size: 19px;
  color: #4d4d4d;
  margin-top: 0px;
  font-weight: bold;
}
.service-card-content p{
  color:#9c9c9c;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 1.6;
  font-size: 14px;
}

.service-card.service-card-more{
  height: 437px;
  text-align: center;
  color:#fff;
}
.service-card-more .service-card-img{
  height: 100%;
}
.service-card-more .service-card-img:before{
  content:"";
  position: absolute;
  height: 100%;
  left:0px;
  width: 100%;
  top:0px;
  background-color: #1c69ae;
  opacity: 0.7;
  z-index: 1;
}
.service-card-more .service-card-img img{
  left: 0px;
}
.service-card-more h2{
  color:#fff;
  position: relative;
  font-size: 26px;
  padding-top:170px;
  z-index: 2;
}
.service-card-more span{
  display: inline-block;
  position: relative;
  border:2px solid #fff;
  border-radius: 8px;
  font-size: 16px;
  padding: 6px 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin-top: 24px;
  z-index: 2;
  transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.service-card-more:hover span{
  background-color: #fff;
  color:#1c69ae;
}

/* ==========================================================================
  Section: Client Testimonial
   ========================================================================== */
#client-testimonial{
  background-color: #d7f2fc;
  position: relative;
}
.client-testimoial-name{
  font-size: 22px;
}
#client-testimonial .container{
  position: relative;
}
#client-testimonial:before{
  content: "";
  position: absolute;
  right: 0px;
  left:0px;
  top:0px;
  bottom:0px;
  margin:auto;
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
  background-image: url(../../images/quote-img-gray.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0;
  opacity: 0.1;
}
.client-testimoial-subtitle{
  font-size: 18px;
  line-height: 1.5;
}

/* ==========================================================================
  Section: Experience
   ========================================================================== */

#experience{
  background-color: #1d6baf;
  color:#fff;
}
#experience h1{
  color:#fff;
  margin-top: 50px;
  margin-bottom: 100px;
}
.exp-content-images{
  position: relative;
  min-height: 550px;
  padding: 20px;
}
.exp-image-item{
  position: absolute;
  height:100%;
  width: auto;
  max-height: 550px ;
  max-width: 100%;
  right:20px;
  overflow: hidden;
  top:0px;
  cursor: pointer;
}
.exp-image-item img{
  min-height: 100%;
  box-shadow:0 0px 14px rgba(0,0,0,.2);
}
.exp-image-item.selected{
  z-index: 2;
  width: 520px;
  height: 550px;
}
.exp-image-item:nth-child(2){
  left:0px;
  right:unset;
  z-index: 1;
  transform:scale(0.88) translateX(-30%);
  -webkit-transform:scale(0.88) translateX(-30%);
  -moz-transform:scale(0.88) translateX(-30%);
  -o-transform:scale(0.88) translateX(-30%);
  opacity: 0.7;
}
.exp-image-item:nth-child(3){
  left:0px;
  right:unset;
  z-index: 0;
  transform:scale(0.76) translateX(-60%);
  -webkit-transform:scale(0.76) translateX(-60%);
  -moz-transform:scale(0.76) translateX(-60%);
  -o-transform:scale(0.76) translateX(-60%);
  opacity: 0.3;
}
.exp-image-item img{
  width: 100%;
}
#experience h2{
  font-size: 22px;
  color: #fff;
}
.exp-selected-details{
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
ul.oz-ul-checks{
  margin-bottom: 20px;
}
 ul.oz-ul-checks li{
  margin-top: 28px;
  margin-bottom: 28px;
  letter-spacing: 0.5px;
  padding-left: 40px;
  position: relative;
  padding-top: 3.6px;
  opacity: 0.9;
  font-size: 14px;
}
.oz-icon-check{
  position: absolute;
  left:0px;
  height: 26px;
  width: 26px;
  top:0px;
  vertical-align: middle;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/oz-icon-check.png);
}
#experience p{
   opacity: 0.9;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
}
.exp-slider{
  background-color: #135896;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.exp-slider-item{
  display: inline-block;
  height: 180px;
  width: 270px;
  margin: 0 13px;
  cursor: pointer;
  position: relative;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.exp-slider-item:first-child{
  margin-left: -200px;
}
.exp-slider-item img{
  /*width: 100%;
  height: 100%;*/
}
.exp-slider-caption{
  /*display: table;*/
  position: absolute;
  top:0px;
  bottom: 0px;
  right: 0px;
  left:0px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color:#fff;
  background-color: rgba(28, 105, 174,0.7);
  opacity: 0;
  transition:all ease-in-out 0.3s;
}
.exp-slider-caption:before{
  content: "";
  position: absolute;
  top:20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  border:1px solid #fff;
  opacity: 0;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.exp-slider-caption-text {
  margin-top: 25%;
}
.exp-slider-item:hover {
  transform:scale(1.08);
  /*width: auto;*/
  /*height: auto;*/
}
.exp-slider-item:hover .exp-slider-caption,
.exp-slider-item:hover .exp-slider-caption:before{
  opacity: 1;
}
.exp-slider-caption .exp-slider-inner{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 200px;
  width: 300px;
}
.exp-slider-caption .exp-slider-inner p{
  font-size: 22px;
    color: #fff;
}
.exp-slider-arl,
.exp-slider-arr
{
  position: absolute;
  height: 100%;
  width: 100px;
  top:0px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.6;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.exp-slider-arl{
  background:linear-gradient(0deg, #135896 , transparent);
  background:-webkit-linear-gradient(0deg, #135896 , transparent);
  background:-moz-linear-gradient(0deg, #135896 , transparent);
  background:-o-linear-gradient(0deg, #135896 , transparent);
}
.exp-slider-arl:hover,
.exp-slider-arr:hover{
  opacity: 1;
}
.exp-slider-arr{
  right: 0px;
  background:linear-gradient(-180deg, #135896 , transparent);
  background:-webkit-linear-gradient(-180deg, #135896 , transparent);
  background:-moz-linear-gradient(-180deg, #135896 , transparent);
  background:-o-linear-gradient(-180deg, #135896 , transparent);
}
.exp-slider-arl i{
  display: inline-block;
  position: absolute;
  top:0px;
  width: 44px;
  height: 44px;
  bottom: 0px;
  left:20px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  background-image: url(../../images/oz-icon-arl.png);
}
.exp-slider-arr i{
  display: inline-block;
  position: absolute;
  top:0px;
  width: 44px;
  height: 44px;
  bottom: 0px;
  right:20px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  background-image: url(../../images/oz-icon-arl.png);
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}
.exp-slider-arl:hover i{
  left:10px;
}
.exp-slider-arr:hover i {
  right: 10px;
}
.exp-slider .slick-prev{
  left: 0;
}
.exp-slider .slick-next{
  right: 0;
}
/* ==========================================================================
  Sucess Stories Section 
   ========================================================================== */

.success_stories{
  background:linear-gradient(180deg,  #eff4f7,#ededed);
  background:-webkit-linear-gradient(180deg,  #eff4f7,#ededed);
  background:-moz-linear-gradient(180deg,  #eff4f7,#ededed);
  background:-o-linear-gradient(180deg,  #eff4f7,#ededed);
  position: relative;
}
.success-stories-content{
  background-color: #fff;
  margin:0 15px;
  box-shadow:0 -8px 18px rgba(0,0,0,.06);
}
.success-stories-content{
  padding-bottom: 17rem !important;
}
.story-item{
  margin:40px 0;
}
.story-item img{
  max-height: 220px;
  height: 100%;
  width: 100%;
}
.story-item-info{
  padding-top: 16px;
  padding-bottom:14px;
}


/* ==========================================================================
  Section:  Contact Us
  ========================================================================== */
#contact {
  margin-top:-19rem;
  background: #1c69ae;
  color: #fff;
  letter-spacing: 0.5px;
  position: relative;
  font-weight: 500;
}

#contact h2 {
  color:#fff;
  margin-top: 56px;
}

#contact p{
  color: #fff;
  opacity: 0.8;
}
.links{
  display: inline-block;
  color:#fff;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.8;
  position: relative;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.links:hover,
.links.active{
  color:#4be820;
}
.links:before{
  width: 100%;
  content: "";
  position: absolute;
  bottom: -1.2px;
  left:0px;
  height: 1.2px;
  background-color: transparent;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.links:hover:before,
.links.active:before{
  background-color: #4be820;
}
#contact .fs-bigger{
  font-size: 20px;
  font-weight: 500;
}
.footer-social{
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  color:#fff;
  border-radius: 50%;
  border:1.5px solid #fff;
  font-size: 18px;
  line-height: 39px;
  margin: 2px 4px;
}
.footer-social:hover{
  color:rgba(28, 105, 174,1);
  background-color: #fff;
}


/* ==========================================================================
15. Footer Style
 ========================================================================== */
footer {
  background: #1c69ae;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  color:rgba(255,255,255,0.8);
  letter-spacing: 0.5px;
}

footer hr{
  opacity: 0.3;
  border-color:#fff;
}

/* ==========================================================================
Section Industry
 ========================================================================== */
#industry_travel{
 background-color: #1c69ae;
 color:#fff;
 /*z-index: 1;*/
}
#industry_leader{
 background-color: #0099d6;
 color:#fff;
}
#industry_travel h2,
#industry_travel p,
#industry_leader h2,
#industry_leader p{
  color:#fff;
}

/* ==========================================================================
Section Did You Know
 ========================================================================== */
.diduknow{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #d7f2fc;
}
.diduknow h3{
  font-weight: bold;
 font-size: 20px;
}
.diduknow p{
  font-size: 19px;
}
.div-quote{
  height: 120px;
}
.div-quote i{
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  opacity: 0.15;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 80px;
    background-image: url(../../images/quote-img-gray.png);
}

.gray-panel{
  background-color: #ededed;
}
.gray-panel h3{
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}
.gray-panel h4{
  color:#4d4d4d;
  font-size:18px;
}
.gray-panel .btn{
  font-weight: 500;
  letter-spacing: 0.5px;
}
/* ==========================================================================
Section Download
 ========================================================================== */
.download{
  background-color: #ededed;
  padding-bottom: 110px;
  /*margin-top: 40px;*/
  margin-bottom: -40px;
  position: relative;
  z-index: 1;
}
.download h3{
  color:#4d4d4d;
  font-size: 20px;
}
.download h2{
  font-weight: 500;
  font-size: #000;
  opacity: 1;
}
.download img{
  z-index: -1;
  position: relative;
  transform:scale(2.3) translateX(-10%) translateY(-5%);
  -webkit-transform:scale(2.3) translateX(-10%) translateY(-5%);
  -moz-transform:scale(2.3) translateX(-10%) translateY(-5%);
  -o-transform:scale(2.3) translateX(-10%) translateY(-5%);
}

/* ==========================================================================
Section Industry Travel
 ========================================================================== */
#industry_travel{
  background-color: #1c69ae;
  color: #fff;
  margin-bottom: 0px;
}
#industry_travel .right_panel{
  background-color: #0099d6;
  position: relative;
  box-shadow: -3px 0 15px rgba(0,0,0,.04);
}
.points_list{
  position: relative;
  padding-left: 50px;
}
.points_list:before{
  content: "";
  position: absolute;
  left: 10px;
  top: 0px;
  bottom: 0px;
  width: 1px;
  margin: auto;
  height: calc(100% - 22px);
  background-color: #fff;
  opacity: 0.8;
}
.points_list li{
  list-style: none;
  display: block;
  position: relative;
  padding: 10px 15px;
  text-align: left;
  letter-spacing: 0.3px;
  border-top:1px solid rgba(255,255,255,0.2);
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  cursor: pointer;
}
.points_list li:last-child{
  border-bottom:1px solid rgba(255,255,255,0.2);
}
.points_list li:before{
  content: "";
  position: absolute;
  top: 0px;
  left:-50px;
  bottom: 0px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border:5px solid #fff;
  margin:auto;
  background-color: #1c69ae;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.points_list li.selected:after{
  content: "";
  position: absolute;
  top: 0px;
  height: 20px;
  width: 20px;
  bottom: 0px;
  left:-20px;
  margin:auto;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  /*border-right: 10px solid #24c94b;*/
  z-index: 1;
}
.points_list li.selected,
.points_list li:hover{
  /*background-color: #24c94b;*/
}

.points_list li.selected:before,
.points_list li:hover:before{
  /*border-color: #24c94b;*/
}

.points_list li.orange.selected,
.points_list li.orange:hover{
  background-color: #DD9D17;
}

.points_list li.orange.selected:before,
.points_list li.orange:before{
  background-color: #DD9D17;
  border-color: #FFFFFF;
}
.points_list li.orange.selected:after{
  border-right: 10px solid #DD9D17;
}

.points_list li.green.selected,
.points_list li.green:hover{
  background-color: #24c94b;
}

.points_list li.green.selected:before,
.points_list li.green:before{
  background-color: #24c94b;
  border-color: #FFFFFF;
}
.points_list li.green.selected:after{
  border-right: 10px solid #24c94b;
}

.points_list li.blue.selected,
.points_list li.blue:hover{
  background-color: #484DCF;
}

.points_list li.blue.selected:before,
.points_list li.blue:before{
  background-color: #484DCF;
  border-color: #FFFFFF;
}
.points_list li.blue.selected:after{
  border-right: 10px solid #484DCF;
}

.panel-content .panel-pane{
  display: none;
}
.panel-content .panel-pane.selected{
  display: block;
}

#industry_travel h2,
#industry_travel p{
  color:#fff;
  letter-spacing: 0.5px;
}
#industry_travel p{
  line-height:1.7;
  letter-spacing: 1px;
}
.points_list_details{
  max-width: 400px;
  margin: auto;
  text-align: justify;
}

.right_panel:after{
  content: "";
  position: absolute;
  top: 0px;
  height: 20px;
  width: 20px;
  bottom: 0px;
  left:-20px;
  margin:auto;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #0099d6;
  z-index: 1;
}

.industry_business{
  background-color: #5fcfd0 !important;
  position: relative;
  z-index: 2;
}
.industry_business .sec_clients_qqr{
  background-size: 70px !important;
  margin-top: -40px;
}
.industry_business_2{
  background-color: #0099d6 !important;
}
.download_industry{
  background-color: #eff4f7 !important
}
/* ==========================================================================
Section: Service About
 ========================================================================== */

#service_about{
  background-color: #ededed;
}
.service_about_menu {
  display: inline-block;
}
.service_about_menu  li a{
  display: block;
  position: relative;
  margin: 0 10px;
  padding: 5px 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: pointer;
  color:rgba(0,0,0,.8);
  font-size: 15px;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.service_about_menu  li a:before{
  content: "";
  position: absolute;
  bottom: 0px;
  left:0px;
  right: 0px;
  width:0;
  height:2.5px;
  margin:auto;
  background-color: #1c69ae;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.service_about_menu  li a:hover,
.service_about_menu  li a.active{
  color:#1c69ae;
}
.service_about_menu  li a:hover:before,
.service_about_menu  li a.active:before{
  width: 100%;
}

#service_about p{
  color: #404040;
}
.video_thumb{
  cursor: pointer;
  position: relative;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.video_thumb:before{
  top:0px;
  bottom: 0px;
  left:0px;
  right:0px;
  width: 100%;
  background-color: #1c69ae;
  opacity: 0.8;
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.video_thumb:after{
  top:10px;
  bottom: 10px;
  left:0px;
  right:0px;
  width: 100%;
  height:calc(100% - 20px);
  border:1px solid #fff;
  opacity: 0.8;
  content: "";
  position: absolute;
  z-index: 1;
  transform:scale(0.9);
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -o-transform:scale(0.9);
  opacity: 0;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.video_thumb:hover{
  transform:scale(1.01);
  -webkit-transform:scale(1.01);
  -moz-transform:scale(1.01);
  -o-transform:scale(1.01);
  box-shadow: 0 -3px 10px rgba(0,0,0,0.1);
}
.video_thumb:hover:after{
  opacity: 1;
}
.video_thumb:hover:before{
  opacity: 0.8;
}
.video_thumb i{
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  top:0px;
  left:0px;
  right: 0px;
  bottom: 0px;
  margin:auto;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../../images/oz-icon-play.png);
}
/* ==========================================================================
  Section:  Concept
  ========================================================================== */
#concept{
  background-color: #1c69ae;
  color:#fff;
}
#concept h1{
  color: #fff;
}
#concept h2,
#concept p{
  letter-spacing: 0.5px;
  color:#fff ;
}
/* ==========================================================================
  Section:  Awards
  ========================================================================== */
.sec_awards{
  background-color: #eff4f7 !important;
}
/* ==========================================================================
  Section:  Schedule Appointment
  ========================================================================== */
.schedule_appointment{
  padding-top: 8rem;
  padding-bottom:2rem;
  background-color: #eff4f7;
  position: relative;
}

.schedule_appointment .sec_clients_qql{
  background-size:65px !important;
}

.schedule_appointment img{
  transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -o-transform:scale(1.5);
  position: relative;
  z-index: 1;
}

/* ==========================================================================
  Section:  Project Item
  ========================================================================== */
.projects_menu  li{
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}
.projects_menu  li:after{
  content: "";
  position: absolute;
  right: -5px;
  top:0px;
  bottom: 0px;
  height: 14px;
  width: 1px;
  margin:auto;
  opacity: 0.8;
  background-color: #007bff;
}
.projects_menu a{
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0 20px;
  color:#007bff;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}

.projects_menu a.active{
  font-weight: 600;
}
.projects_menu a:before{
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  background-color: #007bff;
  width: 0%;
  left:0px;
  right:0px;
  opacity: 0;
  margin: auto;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.projects_menu a:hover:before,
.projects_menu a.active:before{
  opacity: 1;
  width: 100%;
}
.project_item{
  cursor: pointer;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}

.read-more-btn{
  display: inline-block;
  color: #39b716;
  font-size: 16px;
  font-weight: 400;
  padding: 3px 10px;
}
.download-pdf-btn{
  display: inline-block;
  color: #2496fe;
  font-size: 16px;
  font-weight: 400;
  padding: 3px 10px;
}
.download-pdf-btn:hover{
  /*background-color: #ededed;*/
  color:#2496fe;
}
.read-more-btn:hover{
  /*background-color: #ededed;*/
  color:#39b716;
}
.oz-icon-coffee{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  font-size: 0px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  background-image: url(../../images/oz-icon-coffee.png);
}
.oz-icon-book{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  font-size: 0px;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center center;
  background-image: url(../../images/oz-icon-book.png);
}
.oz-icon-grid{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  font-size: 0px;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center center;
  background-image: url(../../images/oz-icon-grid.png);
}
.oz-icon-share{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  font-size: 0px;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center center;
  background-image: url(../../images/oz-icon-share.png);
}
.oz-icon-download{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  font-size: 0px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center center;
  background-image: url(../../images/oz-icon-download.png);
}
.oz-icon-arr{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  font-size: 0px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  background-image: url(../../images/oz-icon-arr.png);
}
.project_item_opt a{
  display: inline-block;
  margin-right: 5px;
  opacity: 0.8;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.project_item_opt a:hover{
  opacity: 1;
}
.project_item_img{
  border:2px solid #d0d0d0;
  overflow: hidden;
  min-height: 250px;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.project_item:hover .project_item_img{
  border-color:#1c69ae;
  transform:scale(1.07);
  -webkit-transform:scale(1.07);
  -moz-transform:scale(1.07);
  -o-transform:scale(1.07);
}

/* ==========================================================================
  Section:  Clients 
  ========================================================================== */

#clients{
  background-color: #d7f2fc;
}
.client_item{
  border:1.2px solid #fff;
  background-color: #fff;
  overflow: hidden;
  min-height: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.client_item:hover {
  border-color:#1c69ae;
  transform:scale(1.21);
  -webkit-transform:scale(1.21);
  -moz-transform:scale(1.21);
  -o-transform:scale(1.21);
}
#partners{
  background-color: #eff4f7;
}

#awards{
  background-color: #ededed;
}
.award_item{
  padding: 5px 10px;
}
#awards p{
  color:#404040;
   white-space: nowrap;
}
.nowrap{
  white-space: nowrap;
}
#award_details p{
  color:#404040;
}

#partnerships{
  color:#fff;
  background-color: #0099d6;
  letter-spacing: 0.5px;
}
#partnerships h1{
  color:#fff;
}
.form-control.form-control-white{
  border:1px solid #fff;
  border-radius: 2px;
  font-size: 14px;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom:12px;
  height: unset !important;
  color:#fff;
}
.form-control.form-control-white::placeholder{
  color:#fff;
}
select.form-control.form-control-white option{
  background-color: #fff !important;
}
.input-group  .btn-transparent{
  border-radius: 2px;
  background-color: transparent;
  border:1px solid #fff;
  border-left:1px solid transparent;
  padding-left: 15px;
  padding-right: 15px;
}
.input-group  .btn i.lnr{
  font-size: 16px;
}
.input-group .form-control.form-control-white{
  border-right: 0px;
}
.input-group  .btn-transparent:hover{
  background-color: #39b716;
  cursor: pointer;
  border-color:#39b716;
}

.partnership_card{
  background-color: #fff;
  border-radius: 8px;
  padding: 14px 20px;
  min-height: 450px;
  cursor: pointer;
  margin-top: 13px;
  margin-bottom: 13px;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.partnership_card:hover{
  box-shadow:0 3px 15px rgba(0,0,0,0.2);
  transform:scale(1.03);
  -webkit-transform:scale(1.03);
  -moz-transform:scale(1.03);
  -o-transform:scale(1.03);
}
.partnership_card_item{
  min-height: 180px;
  max-height: 180px;

}
.partnership_card p{
  color:#404040;
  font-size: 12px;
}
#careers{
  background-color: #eff4f7;
}
#careers h1{
  line-height: 1.3;
}
.careers_content {
  background-color: #fff;
  padding-bottom: 300px !important;
}
.careers_content .projects_menu li:first-child a{
  margin-left: 0px;
}
.careers_content .projects_menu li:last-child:after{
  display: none;
}
.careers_content h3{
  font-size: 16px;
  opacity: 0.8;
}
.careers_content p {
  color:#404040;
}

.careers_tabmenu a{
  font-size: 18px;
  text-align: left;
  color:#404040;
  display: block;
  padding: 20px 34px;
  background-color: #ced7dc;
  margin:0px;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.careers_tabmenu a.active,
.careers_tabmenu a:hover{
  background-color: #fff;
}
.careers_tabmenu a span{
  font-size: 16px;
  display: block;
  opacity: 0.8;
  color:#404040;
}
.positions_card{
  border:1px solid transparent;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  padding: 10px;
}
.positions_card:hover{
  cursor: pointer;
  /*border-color:#3278b6;*/
}
.positions_card_img{
  /*text-align: center;*/
}
.positions_card img{
  /*min-height: 290px;*/
  max-height: 290px;
  min-width: 100%;
}

.bg-white{
  background-color: #fff;
}
#case_study_indiv{
  background-color: #ededed;
}
#case_study_indiv p{
  color:#404040;
}
.blue-panel{
  color:#fff;
  background-color: #0099d6;
  margin-bottom: 15px;
}
.blue-panel h3{
  font-size: 18px;
  color:#fff;
}
.blue-panel h4{
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-size: 15px;
  color:#fff;
}
.blue-panel-socials a{
  color:#fff;
  font-size: 22px;
}
.blue-panel p{
  color:#fff !important;
  opacity: 0.9;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.signup-panel{
  background-color: #dddddf;
  margin-bottom: 15px;
}
.signup-panel h3{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
.signup-panel .form-control{
  height: auto;
  border:transparent;
  margin-bottom: 15px;
  padding: 15px 20px;
}
.signup-panel .btn-success{
  padding: 15px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

#related_cases{
  background-color: #eff4f7;
}

.tags-panel h3{
  font-size: 18px;
}
.tags-panel a{
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right:5px;
}

.leadership_item{
  position: relative;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  cursor: pointer;
}
.leadership_item p{
  color:#404040;
  opacity: 0.9;
}
.leadership_item .fs-16{
  font-size: 16px;
}
.leadership_item_img{
  position: relative;
  background-color: #1c69ae;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.leadership_item .leadership_item_img img{
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.leadership_item:hover .leadership_item_img img{
  opacity: 0.2;
}
.leadership_item_img:before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  bottom: 0px;
  right: 0px;
  left:0px;
  border:2px solid #fff;
  z-index: 1;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  opacity: 0;
  transform:scale(0.9);
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -o-transform:scale(0.9);
}
.leadership_item_img:after{
  content: "View Profile";
  position: absolute;
  text-align: center;
  color:#fff;
  height: 30px;
  width: 100%;
  bottom: 54px;
  left:0px;
  z-index: 1;
  font-size: 22px;
  letter-spacing: 0.8px;
  font-weight: 500;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  opacity: 0;
}
.leadership_item:hover .leadership_item_img{
  transform:scale(1.07);
  -webkit-transform:scale(1.07);
  -moz-transform:scale(1.07);
  -o-transform:scale(1.07);
}
.leadership_item:hover .leadership_item_img:before,
.leadership_item:hover .leadership_item_img:after{
  opacity: 1;
}

.team_four_img{
  position: relative;
  height: 320px;
  cursor: pointer;
  background-color: #1c69ae;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  overflow: hidden;
  background-size: cover!important;
  background-position: center!important;
}
.team_four_img img{
  max-height: 100%;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
.team_four_img_details{
  position: absolute;
  bottom:50px;
  left:0px;
  height: 50px;
  width: 100%;
  z-index: 1;
  font-size: 24px;
  transform:scale(0.9);
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -o-transform:scale(0.9);
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  color:#fff;
  letter-spacing: 0.5px;
  opacity: 0;
}
.team_four_img:before{
  content: "";
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height: 100%;
  width: 100%;
  border:2px solid #fff;
  transform:scale(0.9);
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -o-transform:scale(0.9);
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  opacity: 0;
}
.team_four_img:hover img{
  opacity: 0.2;
}
.team_four_img:hover:before,
.team_four_img:hover .team_four_img_details{
  opacity: 1;
}
.team_four_img:hover{
  transform:scale(1.09);
  -webkit-transform:scale(1.09);
  -moz-transform:scale(1.09);
  -o-transform:scale(1.09);
  z-index: 2;
}

.cx_experts .section{
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  position: relative;
}
.cx_experts .section img{
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}
.fs-16{
  font-size: 16px;
}
.cx_experts .section:before{
  content: "";
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  opacity: 0.93;
}
.cx_experts .container{
  position: relative;
}
.cx_experts .section p{
  color:#404040;
}
#team_collage{
  position:relative;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}
.team_collage_img_1{
  height: 100%;
  padding-top:5px;
  padding-bottom: 5px;
  padding-right: 5px;
  overflow: hidden;
  max-height: 470px;
}
.team_collage_square img,
.team_collage_img_1 img{
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
.team_collage_square{
  padding-left:5px;
  padding-right: 5px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 235.5px;
  height: 100%;
  min-height: 235.5px;
}
.team_page_img{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}
.team_page_img img{
  min-width: 100%;
}
#vision_statement{
  background-color: #ededed;
}
#vision_statement h2{
  color: #007ddf;
  line-height: 1.5;
}
#about_oz{
  background-color: #0069b4;
  color: #fff;
}
#about_oz h1,
#about_oz p{
  color: #fff;
}
#from_ceo p{
  color:#404040;
}
#from_ceo h3{
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
#about_feature_img{
  text-align: center;
}
#about_feature_img img{
  min-width: 100%;
}
#mission_oz{
  background-color: #eff4f7;
  position: relative;
}
#mission_oz .container{
  position: relative;
  z-index: 1;
}
#mission_oz:before{
  content: "";
  position: absolute;
  top:0px;
  height: 40%;
  width: 100%;
  background-color: #fff;
  z-index: 0;
}
#mission_oz p{
  color:#404040;
  letter-spacing: 0.5px;
}
.form-control.form-control-gray{
  border:1px solid #cbcbcb;
  border-radius: 2px;
  font-size: 14px;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom:12px;
  height: unset !important;
  color:#404040;
}
.form-control.form-control-gray::placeholder{
  color:#404040;
}
select.form-control.form-control-gray option{
  background-color: #fff !important;
}
.input-group .form-control.form-control-gray,
.input-group .form-control.form-control-white{
  border-right:0px !important;
  letter-spacing: 0.5px;
}
.input-group .btn-gray-transparent{
}
.input-group  .btn-gray-transparent{
  border:1px solid #cbcbcb;
  background-color: transparent;
  color:#404040;
  border-radius: 0px;
  border-left-color: transparent;
  cursor: pointer;
}
.input-group  .btn-gray-transparent:hover{
  background-color:#37b614;
  color:#fff;
  border-color:#37b614;
}

/* ======================= */
#service_about .tab-pane.active {
  display: flex;
}

/*#careers{
  background-color: #eff4f7;
}
#careers h1{
  line-height: 1.3;
}
.careers_content {
  background-color: #fff;
  padding-bottom: 300px !important;
}
.careers_content .projects_menu li:first-child a{
  margin-left: 0px;
}
.careers_content .projects_menu li:last-child:after{
  display: none;
}
.careers_content h3{
  font-size: 16px;
  opacity: 0.8;
}
.careers_content p {
  color:#404040;
}

.careers_tabmenu a{
  font-size: 18px;
  text-align: left;
  color:#404040;
  display: block;
  padding: 20px 34px;
  background-color: #ced7dc;
  margin:0px;
  transition:all ease-in-out 0.3s;
}
.careers_tabmenu a.active,
.careers_tabmenu a:hover{
  background-color: #fff;
}
.careers_tabmenu a span{
  font-size: 16px;
  display: block;
  opacity: 0.8;
  color:#404040;
}
.positions_card{
  border:1px solid transparent;
  transition:all ease-in-out 0.3s;
  padding: 10px;
}
.positions_card:hover{
  cursor: pointer;
  border-color:#3278b6;
}
.positions_card img{
  min-height: 290px;
  max-height: 290px;
  min-width: 100%;
}

.bg-white{
  background-color: #fff;
}
#case_study_indiv{
  background-color: #ededed;
}
#case_study_indiv p{
  color:#404040;
}
.blue-panel{
  color:#fff;
  background-color: #0099d6;
  margin-bottom: 15px;
}
.blue-panel h3{
  font-size: 18px;
  color:#fff;
}
.blue-panel h4{
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-size: 15px;
  color:#fff;
}
.blue-panel-socials a{
  color:#fff;
  font-size: 22px;
}
.blue-panel p{
  color:#fff !important;
  opacity: 0.9;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.signup-panel{
  background-color: #dddddf;
  margin-bottom: 15px;
}
.signup-panel h3{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
.signup-panel .form-control{
  height: auto;
  border:transparent;
  margin-bottom: 15px;
  padding: 15px 20px;
}
.signup-panel .btn-success{
  padding: 15px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

#related_cases{
  background-color: #eff4f7;
}

.tags-panel h3{
  font-size: 18px;
}
.tags-panel a{
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right:5px;
}

.leadership_item{
  position: relative;
  transition:all ease-in-out 0.3s;
  cursor: pointer;
}
.leadership_item p{
  color:#404040;
  opacity: 0.9;
}
.leadership_item .fs-16{
  font-size: 16px;
}
.leadership_item_img{
  position: relative;
  background-color: #1c69ae;
  transition:all ease-in-out 0.3s;
}
.leadership_item .leadership_item_img img{
  transition:all ease-in-out 0.3s;
}
.leadership_item:hover .leadership_item_img img{
  opacity: 0.2;
}
.leadership_item_img:before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  bottom: 0px;
  right: 0px;
  left:0px;
  border:2px solid #fff;
  z-index: 1;
  transition:all ease-in-out 0.3s;
  opacity: 0;
  transform:scale(0.9);
}
.leadership_item_img:after{
  content: "View Profile";
  position: absolute;
  text-align: center;
  color:#fff;
  height: 30px;
  width: 100%;
  bottom: 54px;
  left:0px;
  z-index: 1;
  font-size: 22px;
  letter-spacing: 0.8px;
  font-weight: 500;
  transition:all ease-in-out 0.3s;
  opacity: 0;
}
.leadership_item:hover .leadership_item_img{
  transform:scale(1.07);
}
.leadership_item:hover .leadership_item_img:before,
.leadership_item:hover .leadership_item_img:after{
  opacity: 1;
}

.team_four_img{
  position: relative;
  max-height: 320px;
  cursor: pointer;
  background-color: #1c69ae;
  transition:all ease-in-out 0.3s;
  overflow: hidden;
}
.team_four_img img{
  max-height: 100%;
  transition:all ease-in-out 0.3s;
}
.team_four_img_details{
  position: absolute;
  bottom:50px;
  left:0px;
  height: 50px;
  width: 100%;
  z-index: 1;
  font-size: 24px;
  transform:scale(0.9);
  transition:all ease-in-out 0.3s;
  color:#fff;
  letter-spacing: 0.5px;
  opacity: 0;
}
.team_four_img:before{
  content: "";
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height: 100%;
  width: 100%;
  border:2px solid #fff;
  transform:scale(0.9);
  transition:all ease-in-out 0.3s;
  opacity: 0;
}
.team_four_img:hover img{
  opacity: 0.2;
}
.team_four_img:hover:before,
.team_four_img:hover .team_four_img_details{
  opacity: 1;
}
.team_four_img:hover{
  transform:scale(1.09);
  z-index: 2;
}

.cx_experts .section{
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  position: relative;
}
.cx_experts .section img{
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}
.fs-16{
  font-size: 16px;
}
.cx_experts .section:before{
  content: "";
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  opacity: 0.9;
}
.cx_experts .container{
  position: relative;
}
.cx_experts .section p{
  color:#404040;
}
#team_collage{
  position:relative;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}
.team_collage_img_1{
  height: 100%;
  padding-top:5px;
  padding-bottom: 5px;
  padding-right: 5px;
  overflow: hidden;
  max-height: 419px;
}
.team_collage_square img,
.team_collage_img_1 img{
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.team_collage_square{
  padding-left:5px;
  padding-right: 5px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 210px;
  height: 100%;
}*/

/*========== BLOG ============*/
.blog-btn{
  letter-spacing: 0.5px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  opacity: 0.8;
  background-color: #cbcbcb;
}
.blog-btn:hover{
  opacity: 1;
}
.blog-btn i{
  width:36px;
  text-align: left;
  padding-left: 5px;
  margin-right: 8px;
  border-right:1px solid rgba(255,255,255,.3);
}
.blog-btn-facebook{
  background-color: #305c99;
  color:#fff;
}
.blog-btn-twitter{
  background-color: #00cdff;
  color:#fff;
}

.blog-btn-linkedin{
  background-color: #007bb6;
  color:#fff;
}
.blog_conversations{
  background-color: #fff;
}
.blog_conversations h3{
  font-size: 20px;
}
.blog_conversations textarea{
  border-radius: 0px;
  font-size: 14px;
  height: auto;
  border:2px solid #cbcbcb;
}
.blog_conversations textarea:focus{
  border:2px solid #1c69ae;
}
.blog_conversations_action a{
  color:#404040;
  letter-spacing: 0.3px;
  font-size: 15px;
  opacity: 0.7;
  transition:all ease-in-out 0.3s;
  -webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
}
a.blog_like,
a.blog_dislike{
  opacity: 0.5;
}
.blog_like i,
.blog_dislike i{
  font-size: 18px;
}
.blog_dislike i{
  transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -o-transform:scaleX(-1);
}
.blog_conversations_action a:hover{
  opacity: 1;
}
#find_us{
  background-color: #eff4f7;
}
.find_us_form{
  background-color: #fff;
  /*padding-bottom: 250px;*/
  box-shadow:0 -10px  50px rgba(0,0,0,0.05);
}
#find_us a{
  display: block;
  text-align: center;
}
#find_us a i{
  font-size: 56px;
}
.text-facebook{
  color:#3b5796;
}
.text-twitter{
  color:#55aded;
}
.text-slideshare{
  color:#f38119;
}
.text-youtube{
  color:#cd1f1e;
}
.text-vimeo{
  color:#1bb9e9;
}
.text-linkenin{
  color:#0779b8;
}
.text-instagram{
  color:#e23f5c;
}
.find_us_form label{
  letter-spacing: 0.5px;
}
.find_us_form .form-control{
  border-radius: 0px;
  border:1px solid #cbcbcb;
  height: unset;
  background-color: transparent;
  font-weight: 500;
}
.find_us_form .form-control:valid,
.find_us_form .form-control:focus{
  border-color:#37b614;
  background-color: #edffe8;
}
.headquarter_1{
  background-color: #146eb6;
}
.headquarter_2{
  background-color: #1c69ae;
}
#headquarters h2,
#headquarters p{
  color:#fff;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
}
#headquarters p{
  opacity: 0.7;
}
.headerquarter_img{
  text-align: center;
  max-height: 300px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0,0,0,0.07);
}
#headquarters a{
  font-size: 18px;
  letter-spacing: 2.5px;
  color:#fff;
}
#headquarters a span{
  display: inline-block;
  background-color: #37b614;
  border-radius: 4px;
  padding: 10px 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.07);
  margin-left: 10px;
}
.modal-open{
  padding-right: 0px !important;
}
#modal_contact {
  padding-right: 0px !important;
  top: -10px;
}
#modal_contact .modal-full{
  max-width: 100%;
  margin-top:77px;
}
#modal_contact .modal-content{
  background-color: rgba(28, 105, 174, 0.9);
}
#modal_contact p{
  color:#fff;
  letter-spacing: 0.9px;
  line-height: 1.8;
  font-size: 11px;
  font-weight: 300;
}
#modal_contact input[type="checkbox"]{
  padding: 10px;
  zoom:2;
  background-color: #fff;
}
#modal_contact a{
  color:#fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.9px;
}
.modal-btn-close i{
  font-size: 24px;
  font-weight: bolder;
}
#modal_contact .form-control{
  border-radius:0px;
  height: unset;
  border-color:transparent;
  font-size: 14px;
  letter-spacing: 0.9px;
  margin-top:12.1px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  font-weight: 500;
}
#modal_contact .form-control:valid,
#modal_contact .form-control:focus{
  border-color:#37b614;
  background-color: #edffe8;
  font-weight: bold;
  color:#000;
}
/* ======================= */

#service_about .tab-pane.active {
  display: flex;
}

.img-full{
  width: 100%;
}

.height-85 {
  height: 85%!important;
}

.padding-r-10{
  padding-right: 10px!important;
}

.padding-l-10{
  padding-left: 10px!important;
}

.padding-t-20{
  padding-top: 20px!important;
}

#client-testimonial.client-testimonial-well:before{
  background-position: 0px -170px;
  max-width: 550px;
}
.slider-content{
  position:relative;
}
.slider-content:hover .exp-slider-caption:before{
  opacity: 1;
}
.slider-content:hover .exp-slider-caption{
  opacity: 1;
  padding: 40px;
}
.slick-initialized .slick-slide{
  overflow: hidden;
}

.slick-initialized .slick-slide img{
  min-height: 180px;
}
.paginator-center {
    position: relative;
    margin-bottom: -220px;
    height: 220px;
}
.with-top {
    margin-top: 50px;
}
.list-inline-item:first-child a {
  margin-left: 0;
}
#global-tab hr:first-child, #latan-tab hr:first-child{
  display: none;
}
.img-adjust{
  width: unset;
  height: 250px;
}
.max-height-500 {
  max-height: 500px!important;
}
.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#industry_leader .adjust-row{
  /*display: table!important;*/
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display:         flex!important;
  align-items: normal!important;
}
#industry_leader .height-adjust {
    /*float: none;
    display: table-cell;
    vertical-align: top;
    width: inherit;*/
  display: flex;
  flex-direction: column;
}
.add-padding{
  padding-top: 196px!important;
}
.anchor{
  display: block;
  height: 68px; /*same height as header*/
  margin-top: -68px; /*same height as header*/
  visibility: hidden;
}
/*#industry_travel.neg-bottom{
  margin-bottom: -68px;
}*/

/*#menu4.schedule_appointment:target{
  padding-top: 128px;
}*/