/* only small desktops */
/* tablets */
/* only small tablets */
.slicknav_menu ul{
  background-color: transparent;
}
.slicknav_nav a{
  padding-left: 0px;
  color: #fff;
  letter-spacing: 0.5px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-weight: bold;

}
.slicknav_menu .slicknav_icon-bar{
  background-color: #fff;
}
.slicknav_btn{
  margin-right: 0px;
}
.slicknav_nav .slicknav_row{
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.slicknav_nav .slicknav_arrow{
  background:transparent;
  color: #fff;
}

@media (max-width:  991px){
  #hero-area{
    overflow: visible;
  }
  .navbar-header{
    width: 100%;
  }
  .slicknav_btn .slicknav_collapsed{
    outline:none;
  }
  .slicknav_menu {
      display: block;
  }
  .navbar-brand{
    top:7px;
    position: absolute;
  }
  .right_navbar{
    display: none;
  }
  .navbar.fixed-top,
  .top-nav-collapse{
    overflow-y:auto;
  }
  .service-card-img{
    height: unset;
    min-height: 150px;
  }
  .positions_card img{
    min-height: 200px;
  }
  .careers_tabmenu {
    font-size: 0px !important;
    /*white-space: nowrap;*/
  }
  .careers_tabmenu li{
    margin:0px !important;
    width: 50%;
  }
  .careers_tabmenu a{
    font-size: 14px;
    padding: 10px 19px;
  }
  .careers_tabmenu a span{
    font-size: 10px;
  }
  .careers_tabmenu a .tabmenu_main_img{
    width:50;
  }
  .industry_two_img img{
    min-height: 172px;
  }
  
  .download{
    padding-bottom: 0px;
  }
  .download img{
    transform:scale(1.12) translateX(-10%) translateY(-4%);
    -webkit-transform:scale(1.12) translateX(-10%) translateY(-4%);
    -moz-transform:scale(1.12) translateX(-10%) translateY(-4%);
    -otransform:scale(1.12) translateX(-10%) translateY(-4%);
  }
  .team_collage_square{
    min-height: 150.5px;
  }
  .service-card-img{
    min-height: 230px;
  }
  #hero_carousel .carousel-caption h1{
    font-size: 25px;
  }
  .carousel-item-next, .carousel-item-prev, .carousel-item.active{
    height: auto!important;
  }
  #hero_carousel .carousel-caption {
    top: 25%;
  }
  #contact-nav{
    display: none;
  }
}

.horizontal-scroll{
  padding-bottom: 20px;
  overflow-x:scroll;
}
@media (min-width: 768px) and (max-width: 991px) {
  #hero-area .contents h1 {
    font-size: 28px;
  }
  .item-boxes h4 {
    font-size: 18px;
  }
  #features .show-box img {
    display: none;
  }
  .pricing-table .pricing-details ul li {
    font-size: 12px;
  }
  .counters .facts-item .fact-count h4 {
    font-size: 14px;
  }
  .single-team {
    margin-bottom: 30px;
  }
  .meta-tags span {
    margin-right: 3px;
  }
  .meta-tags span i {
    margin-right: 0px;
  }
  #blog .blog-item-text h3 {
    font-size: 14px;
    line-height: 20px;
  }
   .top-nav-collapse .navbar-brand{
    top: 8px;
  }

}
@media (max-width: 595px){
  #hero-area{
    overflow: visible;
  }
  .exp-content-images{
    min-height: 300px;
  }
  .btn-lg{
    font-size: 14px;
    padding:10px 20px;
  }
  .exp-slider-item:first-child{
    margin-left: -60%;
  }
  h1{
    font-size: 18px !important;
  }
  h2{
    font-size: 18px;
  }
 
  .service-card-img{
    min-height: 200px;
  }
  .service-card-img img{
    min-width: 100%;
    left:0px;
  }
  #vision_statement h2 br{
    display: none;
  }
  #mission_oz:before{
    height: 18%;
  }
  .partnership_card{
    min-height: auto;
  }
  .partnership_card_item{
    min-height: auto;
    max-height: unset !important;
  }
  .partnership_card_item img{
    height: auto;
    min-width: unset;
    min-height: unset;
    width: auto;
  }
  .success-stories-content{
    margin:0px;
  }
  .projects_menu a{
    font-size: 10px;
    margin:0 10px;
  }
  .blog-btn{
    font-size: 10px;
    padding-left:7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
    margin-right: 4px !important;
  }
  .blog-btn i{
    width: 20px;
  }
  .positions_card img{
    min-height: unset;
    max-height:unset;
  }
  .diduknow img{
    width: 120px;
    margin-bottom: 15px;
  }
  .client_item{
    min-height: 150px;
  }
  ul.oz-ul-checks{
    /*margin-bottom: 0px !important;*/
  }
  ul.oz-ul-checks li{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .industry_two_img img{
    min-height: 128px;
  }
  .points_list{
    white-space: nowrap;
    padding-left: 0px;
  }
  .points_list:before,
  .points_list li:before{
    display: none;
  }
  .points_list li{
    display: inline-block;
  }
  .points_list li.selected:after{
    left: 0px;
    right: 0px;
    margin:auto;
    bottom:-60px;
    width: 20px;
    border-top: 10px solid #24c94b;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
  }
  .download{
    padding-bottom: 0px;
  }
  .download img{
    transform:scale(1.2) translateX(-10%) translateY(-4%);
    -webkit-transform:scale(1.2) translateX(-10%) translateY(-4%);
    -moz-transform:scale(1.2) translateX(-10%) translateY(-4%);
    -o-transform:scale(1.2) translateX(-10%) translateY(-4%);
  }
  .service_about_menu{
    white-space: nowrap;
  }
  .team_four_img_details{
    transform:scale(0.8);
    -webkit-ransform:scale(0.8);
    -moz-ransform:scale(0.8);
    -o-ransform:scale(0.8);
  }
  .blue-panel-socials a{
    font-size: 14px;
  }
  .schedule_appointment img{
    transform:scale(1.0);
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
  }
}
@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 0px;
    top: 7px;
  }
  .top-nav-collapse .navbar-brand{
    top: 7px;
  }
  .navbar-brand img {
    width: auto;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    /*background: #61D2B4;*/
    color: #fff;
  }
  .slicknav_nav a:hover, .slicknav_nav .active {
    color: #61D2B4;
    /*background: #f8f9fa;*/
  }
  .slicknav_nav .dropdown li a.active {
    /*background: #f8f9fa;*/
    color: #61D2B4;
  }

}

/* mobile or only mobile */
@media (max-width: 767px) {
  .section-header .section-title {
    font-size: 20px;
  }
  #hero-area .contents {
    padding: 100px 0 80px;
  }
  #hero-area .contents h1 {
    font-size: 18px;
    line-height: 30px;
  }
  #features .show-box img {
    display: none;
  }
  #features .box-item .text h4 {
    font-size: 14px;
  }
  .controls {
    margin: 0px;
  }
  .controls .btn {
    font-size: 13px;
    padding: 7px 7px;
  }
  .video-promo .video-promo-content h2 {
    font-size: 22px;
  }
  .pricing-table {
    margin-bottom: 15px;
  }
  .counters .facts-item {
    margin-bottom: 30px;
  }
  .single-team {
    margin-bottom: 15px;
  }
  .contact-us {
    margin-bottom: 30px;
  }
  .contact-us h3 {
    font-size: 28px;
  }
  .footer-links li a {
    margin-right: 10px;
  }
  .copyright {
    float: left;
  }
  .navbar.fixed-top .container{
    padding-right: 10px;
    padding-left: 10px;
  }
  .points_list{
    white-space: nowrap;
    padding-left: 0px;
  }
  .points_list:before,
  .points_list li:before{
    display: none;
  }
  .points_list li{
    display: inline-block;
  }
  .points_list li.selected:after{
    left: 0px;
    right: 0px;
    margin:auto;
    bottom:-60px;
    width: 20px;
    border-top: 10px solid #24c94b;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
  }
  .section-subtitle br{
    display: none;
  }
  .team_collage_square{
    min-height: 145.5px;
  }
  .schedule_appointment img{
    transform:scale(1.0);
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
  }
}
